@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.btn {
    border-radius: 33px;
    background: #21B573;
}

.btn:hover {
    background: #198754;
    color: white;
}

/* header start */

.hero {
    background: #F0FFF0;
}

.navbar {
    padding-top: 33px;
}

.navbar-brand {
    color: #56548C;
    font-size: 24.857px;
    font-weight: 700;
}

.nav-item {
    padding: 10px;
}

.border-bottom {
    border-bottom-width: 1px;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
}

.hero-text-content {
    padding-top: 89px;
}

.qs-text {
    color: #FD511A;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 10px;
}

/* header end */

/* features section start */

.features-content {
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background: #F0FFF0;
    padding: 5px;
}

.features-img {
    width: 66px;
    height: 85px;
    padding-top: 14px;
}

.features-content h3 {
    color: #413960;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 14px;
}

.features-content p {
    color: #585859;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* features section end */

/* course section start */

.course-section-title {
    padding-top: 30px;
    color: #413960;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

.card {
    border-radius: 18px;
    background: #FFF;
    border-color: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
}

.card img {
    padding: 18px;
    width: 100%;
    border-radius: 11px;
}

.card-content h4 {
    color: #413960;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-text {
    color: #585859;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* course section end */

/* testimonial section start */

.testimonial-section-title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 30px;
}

.my-profile {
    width: 140px;
}

/* testimonial section end */

/* footer start */

.footer-section {
    background: #282531;
}

.footer-text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer-content-link li a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer-content-link li a:hover {
    color: #21B573;
}

.copy-right {
    color: #CDCDCD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

/* footer end */